@model IEnumerable<WebApplicationTest.Entities.Product>
@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
}

@await Html.PartialAsync("PartialViews/_Slider")

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @await Html.PartialAsync("Partial/_LeftSideBar")
            </div>
            <div class="col-sm-9 padding-right">
                @await Html.PartialAsync("Partial/_RecommendedItems")
            </div>
            <div class="col-sm-9 padding-right">
                @await Html.PartialAsync("Partial/_CategoryTab")
            </div>
            <div class="col-sm-9 padding-right">
                @await  Html.PartialAsync("Partial/ProductItems", Model)
            </div>
        </div>
    </div>
</section>
